html, body { 
    height: 100%; 
    margin: 0;
    font-family: "The Girl Next Door", sans-serif;
    background-color: #f5d9c9; 
}

body {
    height: 100vh;   
    display: flex;          
    align-items: flex-start;     
    justify-content: center;
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: #ffebe2 !important;                 
    background-image: url('../imgs/bearBg.jpg');
    background-repeat: no-repeat;
    background-position: right center;       
    background-size: auto 100vh; 
}


#signupBody {
    font-family: "The Girl Next Door", sans-serif;
    background-color: rgba(173, 141, 109, 0.5);
    border-radius: 3em;
    padding: 2em 1em;
    text-align: left;
    height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    font-size: 1.2em;
}


#signupBody h1{
    font-weight: 900;
    font-size: 3em;
}

#signupBody p{
    font-size: 1.5em;
}

#bearWaving {
    display: block;
    margin: auto;
    width: 80%;
}

#signupBody legend {
    font-weight: 600;
    margin-bottom: 0.5em;
}

#signupBody input[type="text"], #signupBody input[type="password"], #signupBody select {
    width: 60%;
    border: 2px solid #d7e1e6;
    border-radius: 50px;
    padding: 0.3em 0.4em;
}

#city, #lat, #longit {
    display: block;
    width: 30%;
    min-height: 44px;
    padding: 0.3em 0.3em;
    color: #a76937;
    font-size: 1.3em;
} 

#signUp{
    display: block;
    width: 40%;
    background-color: #582F0E;
    border: none;
    color: white;
    border-radius: 50px;
    padding: 1em 2em;
    font-weight: 600;
    cursor: pointer;
}