body{
    background-image: url(images/meadow.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #7f4f24;
}

#square{
    border: 5px solid #b08968;
    border-radius: 20px;
    margin-top: 3em;
}

#heading {
    background-image: url(images/green_pokadots.jpg);
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#caterpillar {
    width:4em;
    height: auto;
    padding-left: 2em;
}

h1{
    color: #ffedd8;
    text-shadow: 
        0 0 5px black,
        0 0 10px black,
        0 0 10px black;
}

hr{
    border: 1px solid #b08968;
    border-radius: 10px;
    margin: 0px;
}

#titleContainer {
    display: flex;
    align-items: stretch;
}

#spacer {
    background-image: url(images/green_stripes.jpg);
    background-size: cover;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#welcome {
    font-size: 2em;
}

#appleCat {
    width: 5em;
    height: auto;
}

.title {
    background-image: url(images/picnicBckgnd.jpg);
    background-size: 20%;
    width: 80%;
    height: auto;
}

#search {
    border: 1px solid #f2e8d0;
    border-radius: 1em;
    background-color: #f2e8d0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    margin: 1em auto; /*Centers it inside titleContainer*/
    width:90%;
}

#infoContainer {
    background-image: url(images/yellow_stripes.jpg);
    background-size: 30%;
    padding: 1em;
}

#information {
    background-color: #fef8ea;
    padding: 1em;
}

nav {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    color: #7f4f24;
    margin-top: 1em;
    font-size: 1.2em;
}

.navBar {
    text-decoration: none;
    border:3px solid #fef8ea;
    border-radius: 15px 15px 0 0;
    color: #7f4f24;
    background-color: #fef8ea;
    padding: 1em 2em;
}

.navBar i{
    margin-left: 2em;
}

mark{
    background-color: #ffa5ab;
}

#squished {
    width: 86%;
    margin: 1em auto;
}

#databaseImg {
    display: block;
    width: 100%;
    height: auto;
    max-width: 50%;
    margin: 0 auto;
}

.pInfo {
    font-size: 1.1em;
    margin-top: 1em;
    margin-bottom: 2em;
    border: 2px solid #b08968;
    padding: 1em;
}

#infoBoxes {
    display: flex;
    justify-content: space-around;
    gap: 1em;
}

#infoBoxes details {
    flex:1;
    border: 2px solid #b08968;
    padding: 1em;
    cursor: pointer;
}

footer {
    text-align: center;
    margin-top: 1em;
}

#footer {
    background-image: url(images/red_pokadots.jpg);
    background-size: 25%;
    border-radius: 0px 0px 15px 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}