body{
    background-image: url("imgs/bckgnd.jpg");
    font-family: "The Girl Next Door", cursive;
}

#top{
    background-color: #E1E9C9;
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-family: "Swanky and Moo Moo", serif;
    font-size: 2em;
}

h1{
    margin-bottom: 0;
    margin-top: 0;
}

h2{
    margin-top: 0;
    font-size: 1em;
    margin-bottom: 0;
}

#main{
    display: flex;
    padding: 2em;
    width: 85%;
    margin: 0 auto;
    text-align: center;
    background-color: #E1E9C9;
}

label{
    display: block;
    margin: 0.5em 0;
}


#left {
    flex: 1;
    min-width:100px;
    background-color: #f5abb8;
}

#selectScene{
    font-family: "The Girl Next Door", Arial, Helvetica, sans-serif;
    font-weight: 600;
}

#clothesOptions {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.clothing{
    flex: 1 1 30%;
    padding: 0.75rem;
    text-align: left;
    border: 2px solid #b2dae7;
    border-radius: 3%;
    background-color: #b2dae7;
    margin-left: 1em;
    margin-right: 1em;
}

h5{
    margin-top: 0.4em;
}

h4{
    margin-bottom: 0.3em;
}

#checkAcc {
    background-color: #faf9cb;
    border: 2px solid #faf9cb;
    border-radius: 3%;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    width: fit-content;
    margin: 0 auto;
}

#right {
    flex: 2;
    background-color: #F1BFBA;
}

#preview {
    background-image: url("imgs/bedroom.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    padding: 1rem;
    margin-bottom: 1em;;
}

#avatarContainer {
    position: relative;
    width: 400px;
    height: auto;
    margin: 4em auto 0 auto;
}

#avatarContainer img{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: auto;
}

#avatarBase {
    z-index: 1;
}

#avatarHair {
    z-index: 2;
}

#avatarEars {
    z-index: 3;
}

#pantsImg{
    z-index: 4;
}

#shirtImg {
    z-index: 5;
}

#shoesImg {
    z-index: 5;
}

#hatImg {
    display: none;
    z-index: 4;
}

#accSunglasses {
    display: none;
    z-index: 3;
}

#accBag {
    display: none;
    z-index: 6;
}

button{
    background-color: lightgrey;
    border:none;
    border-radius: 1em;
    padding: 1em;
    cursor:pointer;
    font-family: "The Girl Next Door", sans-serif;
    font-weight: 900;
}

button:hover {
  background-color: white;
}

#resetBtn{
    margin-bottom: 1em;
}